@import "variables";

#edh-banner {
    @media screen and (max-width: media-breakpoint-only(sm)) {
        padding-bottom: 3em 0;
    }
    padding: 7em 0;
    clear: both;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
    .overlay {
        z-index: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba($brand-black, 0.4);
    }

    .edh-heading {
        h2 {
            color: $brand-white;
            margin-bottom: 20px !important;
        }
        p {
            color: rgba($brand-white, 0.8);
            font-size: 20px;
        }
    }

    .form-control {
        background: rgba(255, 255, 255, 0.2);
        border: none !important;
        color: $brand-white;
        font-size: 16px !important;
        width: 100%;

        &::-webkit-input-placeholder {
            color: $brand-white;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: $brand-white;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $brand-white;
        }

        &:-ms-input-placeholder {
            color: $brand-white;
        }
        @include transition(0.5s);
        &:focus {
            background: rgba(255, 255, 255, 0.3);
        }
    }
    .btn {
        border: none !important;
        background: $brand-primary;
        color: $brand-white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        padding-left: 50px;
        padding-right: 50px;
    }
    .form-inline {
        .form-group {
            width: 100% !important;
            margin-bottom: 10px;
            .form-control {
                width: 100%;
            }
        }
    }
}
