@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";

@import "variables";
@import "mixin";
@import "sizing";
@import "scrolling";
@import "form";
@import "swiper";
@import "dropdown";
@import "layout";
@import "text";
@import "table";

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
    font-family: $font-primary;
    font-size: $font-size;
    line-height: 1.7;
    color: #828282;
    font-weight: 400;
    background: $brand-bg-color;
}

.container {
    max-width: 95vw;
}

#edh-page {
    position: relative;
    width: 100%;
    height: 100%;
    @include transition(0.5s);
    .offcanvas & {
        overflow: hidden;
        position: absolute;

        &:after {
            @include transition(2s);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 101;
            background: rgba(0, 0, 0, 0.7);
            content: "";
        }
    }
}
a {
    color: $brand-primary;
    @include transition(0.5s);
    &:hover,
    &:active,
    &:focus {
        color: $brand-primary;
        outline: none;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
    color: $brand-black;
    font-family: $font-primary;
    font-weight: 400;
}
::-webkit-selection {
    color: $brand-white;
    background: $brand-primary;
}

::-moz-selection {
    color: $brand-white;
    background: $brand-primary;
}
::selection {
    color: $brand-white;
    background: $brand-primary;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: unset;

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: $brand-primary;
    }
}

#edh-header,
#edh-counter,
.edh-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.edh-bg {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    float: left;
}

.edh-video {
    // height: 450px;
    overflow: hidden;
    @media screen and (max-width: media-breakpoint-only(md)) {
        height: 450px;
    }
    a {
        z-index: 1001;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -45px;
        margin-left: -45px;
        width: 90px;
        height: 90px;
        display: table;
        text-align: center;
        background: $brand-white;

        -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
        border-radius: unset;

        i {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        @include transition(0.5s);
    }
    &:hover {
        .overlay {
            background: rgba(0, 0, 0, 0.7);
        }
        a {
            // position: relative;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}
.edh-cover {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    width: 100%;
    .overlay {
        z-index: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba($brand-black, 0.4);
    }
    > .edh-container {
        position: relative;
        z-index: 10;
    }
    @media screen and (max-width: media-breakpoint-only(sm)) {
        height: 600px;
    }
    .display-t,
    .display-tc {
        z-index: 9;
        display: table;
        width: 100%;
        @media screen and (max-width: media-breakpoint-only(sm)) {
            height: 600px;
        }
    }

    &.edh-cover-sm {
        height: 600px;
        @media screen and (max-width: media-breakpoint-only(sm)) {
            height: 400px;
        }
        .display-t,
        .display-tc {
            height: 600px;
            display: table;
            width: 100%;
            @media screen and (max-width: media-breakpoint-only(sm)) {
                height: 400px;
            }
        }
    }
}

#edh-header,
#edh-counter,
.edh-cover {
    .display-tc {
        display: table-cell !important;
        vertical-align: middle;
        h1,
        h2 {
            margin: 0;
            padding: 0;
            color: rgba(255, 255, 255, 1);
        }
        h1 {
            margin-bottom: 20px;
            line-height: 1.3;
            font-weight: 300;
        }
        h2 {
            line-height: 1.5;
            margin-bottom: 30px;
        }
        .btn {
            padding: 15px 30px;
            // background: $brand-primary!important;
            color: $brand-white;
            border: none !important;
            &.btn-video {
                background: rgba($brand-secondary, 0.8);
                border: none;
                &:hover,
                &:focus {
                    background: rgba($brand-secondary, 0.9) !important;
                    color: $brand-white !important;
                }
            }
            &:hover,
            &:focus {
                color: $brand-white !important;
            }
            &.btn-learn {
                background: rgba($brand-primary, 0.8);
                border: none;
                &:hover,
                &:focus {
                    background: rgba($brand-primary, 0.9) !important;
                    color: $brand-white !important;
                }
            }
            &:hover {
                background: $brand-primary !important;
                -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
                -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
                box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
            }
        }
        .form-inline {
            .form-group {
                width: 100% !important;
                margin-bottom: 10px;
                .form-control {
                    width: 100%;
                    background: $brand-white;
                    border: none;
                }
            }
        }
    }
}

.edh-bg-section {
    background: rgba($brand-black, 0.05);
}

#edh-explore,
#edh-pricing,
#edh-testimonial,
#edh-footer {
    padding: 7em 0;
    clear: both;
    @media screen and (max-width: media-breakpoint-only(sm)) {
        padding-bottom: 3em 0;
    }
}

#edh-blog,
#edh-video,
#edh-browsing {
    clear: both;
}

#edh-counter {
    padding: 3em 0;
    clear: both;
}

#edh-steps {
    clear: both;
    padding-bottom: 7em;
}

// Counters
.edh-counters {
    padding: 3em 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    .counter-wrap {
        border: 1px solid red !important;
    }
    .edh-counter {
        display: block;
        color: rgba($brand-black, 0.7);
        font-family: $font-primary;
        width: 100%;
        font-weight: 400;
        margin-bottom: 0.3em;
    }
    .edh-counter-label {
        color: rgba($brand-black, 0.5);
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 2em;
        display: block;
    }
}

#edh-explore {
    .edh-explore1 {
        margin-bottom: 7em;
    }
}

.mt {
    margin-top: 70px;

    h4 {
        position: relative;
        padding-left: 40px;
        i {
            position: absolute;
            left: 0;
            top: 0;
            color: $brand-primary;
        }
    }

    > div {
        margin-bottom: 40px;
    }

    .list-nav {
        margin: 50px 0 30px 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 30px;
            margin-bottom: 10px;
            position: relative;

            i {
                position: absolute;
                left: 0;
                top: 0;
                color: $brand-primary;
            }
        }
    }
}

.edh-social-icons {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        @include inline-block;
        a {
            @include inline-block;
            color: $brand-primary;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.edh-browsing-info {
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0 0 0 40px;
            margin: 0 0 30px 0;
            list-style: none;
            position: relative;
            &:before {
                color: $brand-primary;
                position: absolute;
                left: 0;
                top: 0.05em;
                @include icomoon;
            }
            &.address {
                &:before {
                    content: "\e9d1";
                }
            }
            &.phone {
                &:before {
                    content: "\e9f4";
                }
            }
            &.email {
                &:before {
                    content: "\e9da";
                }
            }
            &.url {
                &:before {
                    content: "\e9af";
                }
            }
        }
    }
}

.proj-bottom {
    padding-bottom: 4em;
}

.edh-heading {
    margin-bottom: 2em;
    &.edh-heading-sm {
        margin-bottom: 1em;
    }
    &.edh-heading-bottom {
        border-bottom: 5px solid $brand-secondary;
    }
    h2 {
        margin-bottom: 20px;
        line-height: 1.5;
        color: $brand-black;
    }
    p {
        line-height: 1.5;
        color: #828282;
    }
    span {
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

#edh-testimonial {
    background: #efefef;
    .testimony-slide {
        // display: none;
        text-align: center;
        span {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 700;
            display: block;
        }

        figure {
            margin-bottom: 10px;
            @include inline-block;

            img {
                width: 100px;
                border-radius: unset;
            }
        }

        blockquote {
            border: none;
            margin: 30px auto;
            width: 70%;
            position: relative;
            padding: 0;
            @media screen and (max-width: media-breakpoint-only(md)) {
                width: 100%;
            }
        }
    }

    .arrow-thumb {
        position: absolute;
        top: 40%;
        display: block;
        width: 100%;

        a {
            color: #dadada;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }
}

//STEPS
.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    margin-bottom: 10px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    padding: 20px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: unset;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: " ";
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: unset;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: unset;
    height: 8px;
    box-shadow: none;
    margin: 22px 0;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa;
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}

.pricing {
    display: block;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.price-box {
    width: 100%;
    text-align: center;
    padding: 30px;
    background: rgba($brand-black, 0.05);
    border-radius: unset;
    margin-bottom: 40px;
    position: relative;

    &.popular {
        .btn-select-plan {
            background: $brand-primary;
        }
        .price {
            color: $brand-primary;
        }
    }

    .btn-select-plan {
        padding: 10px 20px;
        background: $brand-secondary;
        color: $brand-white;
    }
    .classes {
        padding: 0;
        li {
            display: block;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 8px 10px;

            &.color {
                background: rgba($brand-black, 0.04);
            }
        }
    }
}
.pricing-plan {
    margin: 0 0 50px 0;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888f94;

    &.pricing-plan-offer {
        margin-bottom: 24px;
    }

    span {
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        color: #d5d8db;
    }
}
.price {
    color: $brand-black;
    line-height: 50px;
    .currency {
        top: -0.9em;
        padding-right: 10px;
    }
    small {
        display: block;
        text-transform: uppercase;
        color: #888f94;
    }
}

// Map
#map {
    width: 100%;
    height: 500px;
    position: relative;
    @media screen and (max-width: media-breakpoint-only(sm)) {
        height: 200px;
    }
}

// off canvas
#edh-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: lighten($brand-black, 0%);
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    @include translateX(270px);
    @include transition(0.5s);
    @media screen and(max-width: media-breakpoint-only(sm)) {
        display: block;
    }
    .offcanvas & {
        @include translateX(0px);
    }
    a {
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            > ul {
                padding-left: 20px;
                display: none;
            }
        }
    }
}

.uppercase {
    color: $brand-black;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    @include transition(0.5s);
    &.active {
        opacity: 1;
        visibility: visible;
    }
    a {
        width: 50px;
        height: 50px;
        display: table;
        background: rgba(0, 0, 0, 0.5);
        color: $brand-white;
        text-align: center;
        border-radius: unset;
        i {
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            outline: none;
        }
    }
}

// Burger Menu
.edh-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    &.active i {
        &::before,
        &::after {
            background: $brand-darker;
        }
    }
    &:hover,
    &:focus,
    &:active {
        outline: none;
        border-bottom: none !important;
    }
    i {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        color: #252525;
        font: bold 14px/0.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #252525;
        transition: all 0.2s ease-out;
        &::before,
        &::after {
            content: "";
            width: 25px;
            height: 2px;
            background: #252525;
            position: absolute;
            left: 0;
            transition: all 0.2s ease-out;
        }
    }
    &.edh-nav-white {
        > i {
            color: $brand-white;
            background: $brand-white;
            &::before,
            &::after {
                background: $brand-white;
            }
        }
    }
}

.edh-nav-toggle i::before {
    top: -7px;
}
.edh-nav-toggle i::after {
    bottom: -7px;
}
.edh-nav-toggle:hover i::before {
    top: -10px;
}
.edh-nav-toggle:hover i::after {
    bottom: -10px;
}
.edh-nav-toggle.active i {
    background: transparent;
}
.edh-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.edh-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.edh-nav-toggle {
    position: absolute;
    right: 0px;
    top: 65px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    // background: #f86942;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
    @media screen and (max-width: media-breakpoint-only(sm)) {
        display: block;
    }
}

// Buttons
.btn {
    font-family: $font-primary;
    font-weight: 400;
    border-radius: unset;
    @include transition(0.5s);
    padding: 8px 20px;
    &.btn-md {
        padding: 8px 20px !important;
    }
    &.btn-lg {
        padding: 18px 36px !important;
    }
    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background: $brand-primary;
    border-color: $brand-primary;
}

.btn-outline-primary {
    color: $brand-primary;
    border-color: $brand-primary;
    &:hover {
        background: $brand-primary;
        border-color: $brand-primary;
    }
}

.btn-primary {
    background: $brand-primary;
    color: $brand-white;
    border: 2px solid $brand-primary;
    &:hover,
    &:focus,
    &:active {
        background: lighten($brand-primary, 5%) !important;
        border-color: lighten($brand-primary, 5%) !important;
    }
    &.btn-outline {
        background: transparent;
        color: $brand-primary;
        border: 2px solid $brand-primary;
        &:hover,
        &:focus,
        &:active {
            background: $brand-primary;
            color: $brand-white;
        }
    }
}
.btn-success {
    background: $brand-success;
    color: $brand-white;
    border: 2px solid $brand-success;
    &:hover,
    &:focus,
    &:active {
        background: darken($brand-success, 5%) !important;
        border-color: darken($brand-success, 5%) !important;
    }
    &.btn-outline {
        background: transparent;
        color: $brand-success;
        border: 2px solid $brand-success;
        &:hover,
        &:focus,
        &:active {
            background: $brand-success;
            color: $brand-white;
        }
    }
}
.btn-info {
    background: $brand-info;
    color: $brand-white;
    border: 2px solid $brand-info;
    &:hover,
    &:focus,
    &:active {
        background: darken($brand-info, 5%) !important;
        border-color: darken($brand-info, 5%) !important;
    }
    &.btn-outline {
        background: transparent;
        color: $brand-info;
        border: 2px solid $brand-info;
        &:hover,
        &:focus,
        &:active {
            background: $brand-info;
            color: $brand-white;
        }
    }
}
.btn-warning {
    background: $brand-warning;
    color: $brand-white;
    border: 2px solid $brand-warning;
    &:hover,
    &:focus,
    &:active {
        background: darken($brand-warning, 5%) !important;
        border-color: darken($brand-warning, 5%) !important;
    }
    &.btn-outline {
        background: transparent;
        color: $brand-warning;
        border: 2px solid $brand-warning;
        &:hover,
        &:focus,
        &:active {
            background: $brand-warning;
            color: $brand-white;
        }
    }
}
.btn-danger {
    background: $brand-danger;
    color: $brand-white;
    border: 2px solid $brand-danger;
    &:hover,
    &:focus,
    &:active {
        background: darken($brand-danger, 5%) !important;
        border-color: darken($brand-danger, 5%) !important;
    }
    &.btn-outline {
        background: transparent;
        color: $brand-danger;
        border: 2px solid $brand-danger;
        &:hover,
        &:focus,
        &:active {
            background: $brand-danger;
            color: $brand-white;
        }
    }
}

.btn-outline {
    background: none;
    border: 2px solid lighten($brand-black, 50%);
    @include transition(0.3s);
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
    }
}

.btn.with-arrow {
    position: relative;
    @include transition(0.3s);
    i {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        @include transition(0.2s);
    }
    &:hover {
        padding-right: 50px;
        i {
            color: $brand-white;
            right: 18px;
            visibility: visible;
            opacity: 1;
        }
    }
}

// Form Input Field
.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-weight: 300;
    border-radius: unset;
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $brand-primary;
    }
}

.row-pb-md {
    padding-bottom: 4em !important;
}
.row-pb-sm {
    padding-bottom: 2em !important;
}

// Resolve conflict between Bootstrap and ng-zorro
label {
    margin-bottom: unset;
}

// Customize ng-zorro antd icon
.anticon {
    vertical-align: 0.07em;
}

// Customize ng-zorro antd tag
.ant-tag {
    vertical-align: 0.1em;
}
