<div id="edh-banner" style="background-image:url(/assets/images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 text-center edh-heading">
                <h2>Let's Get Started</h2>
                <p>Start making content and earn yourself what you deserve.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-2 text-center">
                <p><a href="#" class="btn btn-default btn-lg">Be a member</a></p>
            </div>
        </div>
    </div>
</div>