<div class="edh-loader" *ngIf="uiSupported && (loaderVisible$ | async)" [@visibility]="loaderVisibilityState$ | async"
    (@visibility.done)="onLoaderAnimationDone($event)"></div>

<ng-container *ngIf="uiSupported; else uiNotSupported" [ngSwitch]="appStatus$ | async">
    <app-page-not-found *ngSwitchCase="APP_STATUS_STATES.pageNotFound"></app-page-not-found>
    <router-outlet (deactivate)="onPageDeactivated($event)" *ngSwitchDefault></router-outlet>
</ng-container>
<ng-template #uiNotSupported>
    <div class="container h-100">
        <div class="row h-100">
            <p class="col-12 my-auto text-center">
                Responsiveness is not supported yet!
                <br />
                Please switch to a computer browser for a better experience.
                <br />
                Sorry for this inconvenience.
            </p>
        </div>
    </div>
</ng-template>