@import "variables";

nav {
    height: $nav-height;
    .edh-nav {
        background: $brand-black;
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        &__row {
            height: $nav-height;
        }
        ul {
            li {
                padding: 0 10px;
                list-style: none;
                display: inline;
                a {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.5);
                    &:hover,
                    &:focus,
                    &:active {
                        color: rgba(255, 255, 255, 1);
                    }
                }
                &.edh-btn-login {
                    line-height: $nav-height * 0.75;
                    a {
                        color: $brand-white;
                        span {
                            background: rgba($brand-white, 0.2);
                            padding: 0 20px;
                            @include transition(0.3s);
                            outline: 1px solid rgba($brand-white, 0);
                            border-radius: unset;
                        }
                        &:hover {
                            span {
                                outline: 1px solid rgba($brand-white, 0.5);
                            }
                        }
                    }
                }
                &.active {
                    > a {
                        color: $brand-white !important;
                    }
                }
            }

            .edh-user-nav {
                line-height: $nav-height;
                a {
                    color: $brand-white;
                    &:hover,
                    &:focus,
                    &:active {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
}
