<div id="edh-page" (window:scroll)="onPageScrolled($event)">
    <nz-layout>
        <nz-header>
            <app-top-nav></app-top-nav>
        </nz-header>
        <nz-content>
            <router-outlet (deactivate)="onPageDeactivated($event)"></router-outlet>
        </nz-content>
        <nz-footer>
            <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop" (click)="onGoToTopClicked($event)"><i class="icon-arrow-up"></i></a>
</div>