<div class="edh-post animate-box" data-animate-effect="fadeIn">
    <a [routerLink]="video.detailUrl">
        <div class="edh-post__info row">
            <div class="col-md-4">
                <img [src]="video.thumbnailUrl" alt="Free HTML5 Website Template by FreeHTML5.co"
                    class="img-fluid h-100">
            </div>
            <div class="col-md-8">
                <div class="edh-post__heading">
                    <h4>{{ video.title }}</h4>
                    <span class="text-secondary">by </span><span>{{ video.author }}</span>
                </div>
            </div>
        </div>
    </a>
</div>