<div class="row">
    <div class="col-12">
        <nz-breadcrumb [nzAutoGenerate]="true">
            <nz-breadcrumb-item>Management</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="col-12 py-3">
        <nz-page-header>
            <nz-page-header-title>{{ title }}</nz-page-header-title>
            <nz-page-header-subtitle>{{ subTitle }}</nz-page-header-subtitle>
            <nz-page-header-extra>
                <ng-container *ngTemplateOutlet="extraTemplate">
                </ng-container>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
</div>