.ant-layout-header {
    background: $brand-bg-color;
    height: unset;
    line-height: unset;
}

.ant-layout-footer {
    background: $brand-bg-color;
    padding: 0;
}

.ant-layout-sider-trigger {
    border: 1px solid $brand-lighter;
}

.ant-layout {
    background: $brand-bg-color;
}

.ant-page-header {
    padding: 0;
}
