<ng-container *ngIf="!isPlatformServer">
    <div id="edh-page" (window:scroll)="onPageScrolled($event)">
        <nz-layout>
            <nz-header>
                <app-top-nav></app-top-nav>
            </nz-header>
            <nz-layout>
                <nz-sider nzCollapsible nzWidth="200px" nzTheme="light"
                    (nzCollapsedChange)="onSiderCollapsedChanged($event)">
                    <ul #menu nz-menu nzMode="inline" class="edh-menu position-fixed vh-100 py-2">
                        <li class="my-0" nz-menu-item [nzSelected]="menuItem.active" *ngFor="let menuItem of menuItems">
                            <a [routerLink]="menuItem.url">
                                <i nz-icon [nzType]="menuItem.icon"></i>
                                <span>{{ menuItem.title }}</span>
                            </a>
                        </li>
                    </ul>
                </nz-sider>
                <nz-layout>
                    <nz-content class="edh-main-content py-5 mb-1">
                        <router-outlet (activate)="onPageActivated($event)" (deactivate)="onPageDeactivated($event)">
                        </router-outlet>
                    </nz-content>
                </nz-layout>
            </nz-layout>
        </nz-layout>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop" (click)="onGoToTopClicked($event)"><i class="icon-arrow-up"></i></a>
    </div>
</ng-container>