@import "variables";
@import "mixin";

.edh-bg {
    background-image: url("../../../../assets/images/register-bg.jpeg");
    background-size: cover;
}

.edh-logo-container {
    @include absoluteCenter();
    height: 200px;
    background-color: rgba($brand-black, 0.5);

    app-logo {
        @include absoluteCenter();
        transform: translateY(-50%);
    }
}

.edh-register-container {
    background-color: $brand-white;
}
