<nav role="navigation">
    <div class="edh-nav w-100">
        <div class="container">
            <div class="row edh-nav__row">
                <div class="col-2 my-auto">
                    <app-logo></app-logo>
                </div>
                <div class="col-10 text-right my-auto">
                    <ul class="my-auto">
                        <li>
                            <a [routerLink]="A_ROUTING.platform.home" [routerLinkActiveOptions]="{ exact: true }"
                                routerLinkActive="active">
                                Home
                            </a>
                        </li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                        <ng-container *ngIf="currentUser$ | async as currentUser; else notLoggedIn">
                            <li class="edh-user-nav">
                                <a nz-dropdown [nzDropdownMenu]="userNavDropdown" nzPlacement="bottomRight"
                                    class="d-inline-block">
                                    Hi, <b>{{ currentUser.username }}</b>
                                </a>
                                <nz-dropdown-menu nzNoAnimation #userNavDropdown="nzDropdownMenu">
                                    <ul nz-menu class="edh-user-nav__dropdown">
                                        <a [routerLink]="A_ROUTING.management.profile">
                                            <li nz-menu-item>
                                                <i nz-icon nzType="user" nzTheme="outline" class="mr-3"></i>
                                                Profile
                                            </li>
                                        </a>
                                        <a [routerLink]="A_ROUTING.management.medias.base">
                                            <li nz-menu-item>
                                                <i nz-icon nzType="play-square" nzTheme="outline" class="mr-3"></i>
                                                My medias
                                            </li>
                                        </a>
                                        <li nz-menu-item (click)="onLogoutClicked($event)">
                                            <i nz-icon nzType="logout" nzTheme="outline" class="mr-3"></i>
                                            Log out
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                            </li>
                        </ng-container>
                        <ng-template #notLoggedIn>
                            <li class="edh-btn-login">
                                <a [href]="A_ROUTING.platform.login"><span class="d-inline-block">Login</span></a>
                            </li>
                        </ng-template>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>